<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

    <div class="row no-gutters">
      <div class="col-2">
         <div class="rankCard">
           <div class="receiptCardHeader"> Section toolbox </div>
         </div>
      </div>    
      <div class="col">
         <div class="receiptCard"> 
            <div class="receiptCardHeader"> List/Table </div>
            <div class="tableCard">
             <table class="table">
                <thead> 
                  <tr> 
                    <th>Action</th> 
                    <th>#</th>
                    <th>From</th>
                    <th>When</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr ng-repeat-start="receipt in pending_receipt">
                    <td>
                       <button type="button" class="btn btn-primary" ng-if="receipt.expanded" ng-click="receipt.expanded = false">review</button>
                       <button type="button" class="btn btn-primary" ng-if="!receipt.expanded" ng-click="receipt.expanded = true">review</button>
                    </td>
                    <td>{{$index + 1}}</td>
                    <td>{{receipt.submitted_by}}</td>
                    <td>{{receipt.submitted_time}} minutes ago</td>
                    <td>£{{receipt.submitted_amount}}</td>
                  </tr>
                  <tr ng-if="receipt.expanded" ng-repeat-end="">
                    <td colspan="5">
                      <div class="receiptDetailCard">
                        {{receipt.details}}
                      </div>
                    </td>
                  </tr>
                </tbody>
             </table>
           </div>

         </div>
      </div>    
   </div>
   <!-- row  first -->

</main>
