<div class="card card-inverse card-primary">
  <div class="card-block pb-0">
    <div class="btn-group float-right" dropdown>
      <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
        <i class="icon-settings"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <h4 class="mb-0">{{ customerSum }}</h4>
    <p>Customers this week</p>
  </div>
  <div class="chart-wrapper px-3" style="height:70px;">
    <canvas baseChart
            class="chart"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColours"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
