<div class="card">
  <div class="card-footer">
    <ul>
      <li class="hidden-sm-down">
        <div class="text-muted">My Points</div>
        <strong>{{ basicStats.user_sum / 10 | number:'1.0-0' }}</strong>
      </li>
      <li class="hidden-sm-down">
        <div class="text-muted">My Rank</div>
        <div *ngIf="basicStats.user_position == 0" class="statuscontent">
          <strong>Unranked</strong>
        </div>
        <div *ngIf="basicStats.user_position != 0" class="statuscontent">
          <strong>{{ basicStats.user_position }}</strong>
        </div>
      </li>
      <li class="hidden-sm-down">
        <div class="text-muted">My Total Spend</div>
        <strong>{{ basicStats.user_sum | currency:'GBP':'symbol':'1.2-2' }}</strong>
      </li>
      <li class="hidden-sm-down">
        <div class="text-muted">Value to Local Economy</div>
        <strong>{{ basicStats.user_sum * 2.3 | currency:'GBP':'symbol':'1.2-2' }}</strong>
      </li>
    </ul>
  </div>
</div>
