<div class="card">
  <div class="card-footer">
    <ul>
      <li class="hidden-sm-down">
        <div class="text-muted">Customers This Month</div>
        <strong>{{ thisMonthSalesCount }}</strong>
      </li>
      <li class="hidden-sm-down">
        <div class="text-muted">Money Spent This Month</div>
        <strong>{{ thisMonthPurchasesTotal | currency:'GBP':true:'1.2-2'}}</strong>
      </li>
      <li class="hidden-sm-down">
        <div class="text-muted">Customers Today</div>
        <strong>{{ todaySalesCount }}</strong>
      </li>
      <li class="hidden-sm-down">
        <div class="text-muted">Average Transaction Today</div>
        <strong>{{ ( todaySalesTotal / todaySalesCount ) || 0 | currency:'GBP':true:'1.2-2'}}</strong>
      </li>
    </ul>
  </div>
</div>
