<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Update Account Info</strong>
          <small>Required Data marked in <strong>bold</strong>.</small>
        </div>
        <form class="form-horizontal" [formGroup]="settingForm">
          <div class="card-block">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input"><strong>Confirm Current Password</strong></label>
              <div class="col-md-9">
                <input type="password" class="form-control" formControlName="password">
                <span class="help-block">Required for security purposes.</span>
              </div>
            </div>
          </div>
          <div class="card-block">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input"><strong>Email</strong></label>
              <div class="col-md-9">
                <input type="text" class="form-control" formControlName="email">
                <span class="help-block">Change this to alter your current account email.</span>
              </div>
            </div>
          </div>
          <div class="card-block">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Enter New Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control" formControlName="new_password">
                <span class="help-block">Enter a new password here if you wish to alter your current one.</span>
              </div>
            </div>
          </div>
          <div class="card-block">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input"><strong>Postcode</strong></label>
              <div class="col-md-9">
                <input type="text" class="form-control" formControlName="postcode">
                <span class="help-block">Change this if your location of residence has changed.</span>
              </div>
            </div>
          </div>
          <!-- <div class="card-block">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="file-input">Profile Picture</label>
              <div class="col-md-9">
                <input type="file" #fileInput formControlName="profile_picture">
              </div>
            </div>
          </div> -->
         </form>
         <div [ngSwitch]="accountType">
           <div *ngSwitchCase="'organisation'">
             <form class="form-horizontal" [formGroup]="settingOrganisationForm" (ngSubmit)="onSubmitOrganisation()">
               <div class="card-block">
                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input"><strong>Business Name</strong></label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" formControlName="name">
                      <span class="help-block">Change this if your business name has changed.</span>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input"><strong>Street Name</strong></label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" formControlName="street_name">
                      <span class="help-block">Change this if your located street has changed.</span>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input"><strong>Industry Sector</strong></label>
                    <div class="col-md-9">
                      <select required class="form-control" type="text" formControlName="sector">
                        <option value=''>Select Organisation Sector</option>
                        <option value='A'>Agriculture, Forestry & Fishing</option>
                        <option value='B'>Mining & Quarrying</option>
                        <option value='C'>Manufacturing</option>
                        <option value='D'>Electricity, Gas, Steam & Air Conditioning</option>
                        <option value='E'>Water & Waste Management</option>
                        <option value='F'>Construction</option>
                        <option value='G'>Wholesale & Retail Trade</option>
                        <option value='H'>Transportation & Storage</option>
                        <option value='I'>Accomodation & Food Services</option>
                        <option value='J'>Information & Communication</option>
                        <option value='K'>Financial & Insurance Activities</option>
                        <option value='L'>Real Estate</option>
                        <option value='M'>Professional, Scientfic & Technical</option>
                        <option value='N'>Administrative & Support Services</option>
                        <option value='O'>Public Administration, Defence & Social Security</option>
                        <option value='P'>Education</option>
                        <option value='Q'>Human Health & Social Work</option>
                        <option value='R'>Arts, Entertainment & Recreation</option>
                        <option value='S'>Other Service Activities</option>
                        <option value='T'>Household Domestic Business</option>
                        <option value='U'>Extraterritorial Organisations and Bodies</option>
                      </select>
                      <span class="help-block">Alter this if your business sector has changed.</span>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input"><strong>City/Town Location</strong></label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" formControlName="town">
                      <span class="help-block">Change this if the city or town your business is located at has changed.</span>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div [ngSwitch]="submitStatus">
                    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
                      Account Update Succeeded.
                    </div>
                    <div *ngSwitchCase="'validation_failed'" class="alert alert-danger" role="alert">
                      Form validation failed, please ensure the form is filled correctly.
                    </div>
                    <div *ngSwitchCase="'send_failed'" class="alert alert-danger" role="alert">
                      {{submitStatusError}}
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                </div>
              </form>
            </div>
            <div *ngSwitchCase="'customer'">
              <form class="form-horizontal" [formGroup]="settingCustomerForm" (ngSubmit)="onSubmitCustomer()">
               <div class="card-block">
                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input"><strong>Full Name</strong></label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" formControlName="full_name">
                      <span class="help-block">Change this if your full name has changed.</span>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input"><strong>Display Name</strong></label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" formControlName="display_name">
                      <span class="help-block">Change this if wish to alter your user display name.</span>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div [ngSwitch]="submitStatus">
                    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
                      Account Update Succeeded.
                    </div>
                    <div *ngSwitchCase="'validation_failed'" class="alert alert-danger" role="alert">
                      Form validation failed, please ensure the form is filled correctly.
                    </div>
                    <div *ngSwitchCase="'send_failed'" class="alert alert-danger" role="alert">
                      {{submitStatusError}}
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>Push Notification Settings</strong>
        <small>Would you like to recieve notfications from companys about their latests offers?</small>
          <div class="card-body">
            <app-push></app-push>
          </div>
      </div>
    </div>
  </div>
</div>
