<div class="animated fadeIn">
  <snippet-bar-hero-points></snippet-bar-hero-points><!-- Snippet for hero points (four circles) -->
  <div class="row"> <!-- second row -->
    <div class="col-md-6 col-xl-3"> <!-- Hero points gain charts -->
      <div *ngFor="let widget of widgetList"> <!-- Points gain line graph -->
        <hero-points-widget-graph *ngIf="widget.type == 'graph'"
          [graphName]="widget.name"
          [graphTitle]="widget.title"
          [graphIcon]="widget.icon"
          [dataType]="widget.dataType">
        </hero-points-widget-graph>
      </div> <!-- let widget of widgetList -->
      <div class="card"> <!-- Points gain by week charts -->
        <div class="card-block">
          <div class="row">
            <div class="col-12">
              <h5 class="card-title float-left mb-0">Points Gain by Week</h5>
            </div> <!--/.col-->
          </div> <!--/.row-->
          <div class="chart-wrapper">
            <ul class="horizontal-bars type-2">
              <li> <!-- This Week -->
                <span class="title">This Week</span>
                <span class="value">{{ heroPointsStats.this_week }}<span class="text-muted small"> ({{ heroPointsStats.this_week / heroPointsStats.max | percent:'1.0-0' }})</span></span>
                <div class="bars">
                  <div class="progress" style="height: 6px;">
                    <div class="progress-bar bg-success" role="progressbar"
                    [style.width]="heroPointsStats.this_week / heroPointsStats.max | percent:'1.0-0'" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> <!-- progress -->
                </div> <!-- bars -->
              </li>
              <li> <!-- Last Week -->
                <span class="title">Last Week</span>
                <span class="value">{{ heroPointsStats.last_week }}<span class="text-muted small"> ({{ heroPointsStats.last_week / heroPointsStats.max | percent:'1.0-0' }})</span></span>
                <div class="bars">
                  <div class="progress" style="height: 6px;">
                    <div class="progress-bar bg-success" role="progressbar"
                    [style.width]="heroPointsStats.last_week / heroPointsStats.max | percent:'1.0-0'" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> <!-- progress -->
                </div> <!-- bars -->
              </li>
              <li> <!-- Week Maximum -->
                <span class="title">Week Maximum</span>
                <span class="value">{{ heroPointsStats.max }}<span class="text-muted small"> ({{ heroPointsStats.max / heroPointsStats.max | percent:'1.0-0' }})</span></span>
                <div class="bars">
                  <div class="progress" style="height: 6px;">
                    <div class="progress-bar bg-success" role="progressbar"
                    [style.width]="heroPointsStats.max / heroPointsStats.max | percent:'1.0-0'" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> <!-- progress -->
                </div> <!-- bars -->
              </li>
              <li> <!-- Weekly Average -->
                <span class="title">Weekly Average</span>
                <span class="value">{{ heroPointsStats.avg }}<span class="text-muted small"> ({{ heroPointsStats.avg / heroPointsStats.max | percent:'1.0-0' }})</span></span>
                <div class="bars">
                  <div class="progress" style="height: 6px;">
                    <div class="progress-bar bg-success" role="progressbar"
                    [style.width]="heroPointsStats.avg / heroPointsStats.max | percent:'1.0-0'" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> <!-- progess -->
                </div> <!-- bars -->
              </li>
            </ul> <!-- horizontal-bars -->
          </div> <!-- chart-wrapper -->
        </div> <!-- card-block -->
      </div> <!-- card -->
    </div> <!-- col -->
    <div class="col-md-6 col-xl-3"> <!-- Leaderboard -->
      <div *ngIf="!noUserList">
        <table class="table table-striped table-hover"> <!-- Leaderboard Table -->
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Hero Points</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userList | orderBy: '-heroPoints' | paginate: paginateLeadConfig; let i = index" [ngStyle]="{'background-color': user.userId === 1 ? '#F39C12': 'auto', 'color': user.userId === 1 ? '#ffffff': 'auto'}">
              <td>{{ i + 1 + (paginateLeadConfig.itemsPerPage * paginateLeadConfig.currentPage) - paginateLeadConfig.itemsPerPage }}</td> <!-- uses page number and number of pages to calculate the rankings -->
              <td>{{ user.displayName }}</td> <!-- Display Name -->
              <td>{{ user.heroPoints }}</td> <!-- Hero Points -->
            </tr>
          </tbody>
        </table>
        <pagination-template #p="paginationApi" [id]="paginateLeadConfig.id" (pageChange)="paginateLeadConfig.currentPage = $event"> <!-- Leaderboard pagination -->
          <ul class="pagination">
             <li class="page-item" [class.disabled]="p.isFirstPage()">
               <a class="page-link clickable" *ngIf="!p.isFirstPage()" (click)="p.previous()">Prev</a>
             </li>
             <li *ngFor="let page of p.pages" class="page-item" [class.active]="p.getCurrent() === page.value">
                <a class="page-link clickable" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                    <span>{{ page.label }}</span>
                </a>
                <div class="page-link" *ngIf="p.getCurrent() === page.value">
                    <span>{{ page.label }}</span>
                </div>
            </li>
            <li class="page-item" [class.disabled]="p.isLastPage()">
              <a class="page-link clickable" *ngIf="!p.isLastPage()" (click)="p.next()">Next</a>
            </li>
          </ul>
        </pagination-template>
      </div> <!-- if !noUserList -->
      <div *ngIf="noUserList" class="card-block">
          No Leaderboard available.
      </div> <!-- if noUserList -->
    </div>
    <div class="col-md-6 col-xl-6"> <!-- Medal Table -->
      <div *ngIf="!noGlobalMedalList && !noOrganisationMedalList">
        <table class="table header-fixed">
          <thead>
            <tr>
              <th class="col-3">Medal</th>
              <th class="col-9">Description</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let medals of globalMedalList"> <!-- ngFor each group of medals (global) -->
              <ng-container *ngFor="let group of medals | values; let groupIndex = index">
                <ng-container *ngIf="(group[0] | values).length - 1 > 1"> <!-- if the group is longer than 1 -->
                  <!-- *ngIf 'global' medal and is/isn't expanded (headers)-->
                  <tr *ngIf="group.expanded" (click)="group.expanded = false" [ngStyle]="{'background-color':(group[0] | values | filterBy: ['awarded']: 'true' | pluck: 'awarded').length === (group[0] | values | filterBy: ['awarded']).length ? '#5FBC47' : '#20A8D8', 'color': '#ffffff' }">
                    <td class="col-3">{{(medals | keys)[groupIndex]}}</td>
                    <td class="col-6">Click to collapse</td>
                    <td class="col-1">-</td>
                    <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{(group[0] | values | filterBy: ['awarded']: 'true' | pluck: 'awarded').length}}/{{(group[0] | values | filterBy: ['awarded']).length}}</td>
                  </tr>
                  <tr *ngIf="!group.expanded" (click)="group.expanded = true" [ngStyle]="{'background-color':(group[0] | values | filterBy: ['awarded']: 'true' | pluck: 'awarded').length === (group[0] | values | filterBy: ['awarded']).length ? '#5FBC47' : '#20A8D8', 'color': '#ffffff' }">
                    <td class="col-3">{{(medals | keys)[groupIndex]}}</td>
                    <td class="col-6">Click to expand</td>
                    <td class="col-1">+</td>
                    <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{(group[0] | values | filterBy: ['awarded']: 'true' | pluck: 'awarded').length}}/{{(group[0] | values | filterBy: ['awarded']).length}}</td>
                  </tr>
                  <!-- display actual medals -->
                  <ng-container *ngFor="let threshold of group[0] | values | orderBy: '+threshold'; let thresholdIndex = index"> <!-- list each medal in each group, ordered by threshold, ascending order -->
                    <ng-container *ngIf="threshold | isObject">
                        <ng-container *ngIf="threshold.awarded">
                          <tr *ngIf="group.expanded" [ngStyle]="{'background-color': '#5FBC47', 'color': '#ffffff' }">
                            <ng-container *ngIf="">
                            </ng-container>
                            <td class="col-3">{{(medals | keys)[groupIndex]}} {{thresholdIndex + 1}}</td>
                            <td class="col-7">DESCRIPTION</td>
                            <ng-container *ngIf="thresholdIndex + 1 != (group[0] | values | orderBy: '+threshold').length - 1">
                              <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{threshold.threshold}}/{{threshold.threshold}}</td> <!-- progress -->
                            </ng-container>
                            <ng-container *ngIf="thresholdIndex + 1 == (group[0] | values | orderBy: '+threshold').length - 1">
                              <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{group[0].total}}/{{threshold.threshold}}</td> <!-- progress -->
                            </ng-container>
                          </tr>
                        </ng-container>
                        <ng-container *ngIf="!threshold.awarded">
                          <tr *ngIf="group.expanded" [ngStyle]="{'background-color': '#F25F5F', 'color': '#ffffff' }">
                            <td class="col-3">{{(medals | keys)[groupIndex]}} {{thresholdIndex + 1}}</td>
                            <td class="col-7">DESCRIPTION</td>
                            <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{group[0].total}}/{{threshold.threshold}}</td> <!-- progress -->
                          </tr>
                        </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="(group[0] | values).length - 1 == 1"> <!-- if there is only one medal in the group, just display medal, no header -->
                  <ng-container *ngFor="let threshold of group[0] | values | orderBy: '+threshold'; let thresholdIndex = index">
                    <ng-container *ngIf="threshold | isObject">
                      <tr [ngStyle]="{'background-color':threshold.awarded === true ? '#5FBC47' : '#F25F5F', 'color': '#ffffff' }">
                        <td class="col-3">{{(medals | keys)[groupIndex]}}</td>
                        <td class="col-7">DESCRIPTION</td>
                        <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{group[0].total}}/{{threshold.threshold}}</td> <!-- progress -->
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container> <!-- ngFor each group of medals (global) -->
            <ng-container *ngFor="let medals of organisationMedalList">
              <ng-container *ngFor="let orgs of medals | values">
                <ng-container *ngFor="let org of orgs; let orgIndex = index">
                  <tr *ngIf="org.expanded" (click)="org.expanded = false" [ngStyle]="{'background-color': '#F39C12', 'color': '#ffffff' }">
                    <td class="col-3">{{org.name}}</td>
                    <td class="col-6">Click to collapse</td>
                    <td class="col-1">-</td>
                    <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{org.count}}/{{org.threshold}}</td>
                  </tr>
                  <tr *ngIf="!org.expanded" (click)="org.expanded = true" [ngStyle]="{'background-color': '#F39C12', 'color': '#ffffff' }">
                    <td class="col-3">{{org.name}}</td>
                    <td class="col-6">Click to expand</td>
                    <td class="col-1">+</td>
                    <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{org.count}}/{{org.threshold}}</td>
                  </tr>
                  <ng-container *ngFor="let group of org | values; let groupIndex = index">
                    <ng-container *ngIf="group | isObject">
                      <ng-container *ngIf="(group[0] | keys).length - 1 > 1">
                        <tr *ngIf="group.expanded && org.expanded" (click)="group.expanded = false" [ngStyle]="{'background-color': '#20A8D8', 'color': '#ffffff' }">
                          <td class="col-3">{{(org | keys)[groupIndex]}}</td>
                          <td class="col-6">Click to collapse</td>
                          <td class="col-1">-</td>
                          <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{(group[0] | values | filterBy: ['awarded']: 'true' | pluck: 'awarded').length}}/{{(group[0] | values | filterBy: ['awarded']).length}}</td>
                        </tr>
                        <tr *ngIf="!group.expanded && org.expanded" (click)="group.expanded = true" [ngStyle]="{'background-color': '#20A8D8', 'color': '#ffffff' }">
                          <td class="col-3">{{(org | keys)[groupIndex]}}</td>
                          <td class="col-6">Click to expand</td>
                          <td class="col-1">+</td>
                          <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{(group[0] | values | filterBy: ['awarded']: 'true' | pluck: 'awarded').length}}/{{(group[0] | values | filterBy: ['awarded']).length}}</td>
                        </tr>
                        <ng-container *ngFor="let threshold of group[0] | values | orderBy: '+threshold'; let thresholdIndex = index">
                          <ng-container *ngIf="threshold | isObject">
                            <ng-container *ngIf="threshold.awarded">
                              <tr *ngIf="group.expanded && org.expanded" [ngStyle]="{'background-color': '#5FBC47', 'color': '#ffffff' }">
                                <td class="col-3">{{(org | keys)[groupIndex]}} {{thresholdIndex + 1}}</td>
                                <td class="col-7">DESCRIPTION</td>
                                <ng-container *ngIf="thresholdIndex + 1 != (group[0] | values | orderBy: '+threshold').length - 1">
                                  <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{threshold.threshold}}/{{threshold.threshold}}</td>
                                </ng-container>
                                <ng-container *ngIf="thresholdIndex + 1 == (group[0] | values | orderBy: '+threshold').length - 1">
                                  <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{group[0].total}}/{{threshold.threshold}}</td>
                                </ng-container>
                              </tr>
                            </ng-container>
                            <ng-container *ngIf="!threshold.awarded">
                              <tr *ngIf="group.expanded && org.expanded" [ngStyle]="{'background-color': '#F25F5F', 'color': '#ffffff' }">
                                <td class="col-3">{{(org | keys)[groupIndex]}} {{thresholdIndex + 1}}</td>
                                <td class="col-7">DESCRIPTION</td>
                                <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{group[0].total}}/{{threshold.threshold}}</td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="(group[0] | keys).length - 1 == 1">
                        <ng-container *ngFor="let threshold of group[0] | values | orderBy: '+threshold'; let thresholdIndex = index">
                          <ng-container *ngIf="threshold | isObject">
                            <ng-container *ngIf="org.expanded">
                              <tr [ngStyle]="{'background-color':threshold.awarded === true ? '#5FBC47' : '#F25F5F', 'color': '#ffffff' }">
                                <td class="col-3">{{(org | keys)[groupIndex]}}</td>
                                <td class="col-7">DESCRIPTION</td>
                                <td class="col-2" [ngStyle]="{'text-align': 'right'}">{{group[0].total}}/{{threshold.threshold}}</td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div> <!-- if !noMedalList -->
      <div *ngIf="noGlobalMedalList && noOrganisationMedalList" class="card-block">
          No Leaderboard available.
      </div> <!-- if noMedalList -->
    </div><!-- Row -->
  </div>
</div>
