<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Supplier Map</strong>
          <small>Required Data marked in <strong>bold</strong>.</small>
        </div>
          <!-- this creates a google map on the page with the given lat/lng from -->
          <!-- the component as the initial center of the map: -->
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scaleControl]="true">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
      </div>
    </div>
  </div><!--/.row-->
</div>
