<script type="text/javascript" charset="utf8" src="/home/tomslater/Documents/FoodLoop-Web/src/sort-table.js"></script>
<div class="animated fadeIn">
  <div class="form-group row">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Postcode</th>
          <th>Spend</th>
        </tr>
      </thead>
      <tbody>
        <!-- table body - name, postcode and spend data should be presented here in cost descending order -->
        <tr recur-result *ngFor="let recur of recurList" tr.names="name" tr.recur="recur" (onClick)="recurClick($event, template)"></tr>
        <tr>
          <td>Bill's Building's</td>
          <td>LA13RB</td>
          <td>£34.64</td>
        </tr>
        <tr>
            <td>Sam's Snake</td>
            <td>TRY3R3</td>
            <td>£567.76</td>
          </tr>
          <tr>
              <td>Lloyds</td>
              <td>ABV134</td>
              <td>£9.00</td>
            </tr>
      </tbody>
    </table>
  </div>
</div><!--/.col-->
