<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-12">
        <h4 class="card-title mb-0">All Purchases</h4>
      </div>
    </div>
    <div class="chart-wrapper">
      <canvas baseChart class="chart"
      [data]="doughnutChartDataLocal"
      [labels]="doughnutChartLabelsLocal"
      [legend]="chartLegend"
      [chartType]="chartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
<div *ngIf="showCategoryDoughnutChart" class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-12">
        <h4 class="card-title mb-0">Weekly Spending by Category</h4>
      </div>
    </div>
    <div class="chart-wrapper">
      <canvas baseChart class="chart"
      [datasets]="doughnutChartDataCategory"
      [labels]="doughnutChartLabelsCategory"
      [options]="doughtnutChartOptionsCategory"
      [legend]="chartLegend"
      [chartType]="chartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
<div *ngIf="showEssentialBarChart" class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-12">
        <h4 class="card-title mb-0">No. of Essential Purchases</h4>
      </div>
    </div>
    <div class="chart-wrapper">
      <canvas baseChart class="chart"
      [datasets]="barChartDataEssential"
      [labels]="barChartLabelsEssential"
      [options]="barChartOptionsEssential"
      [chartType]="barChartTypeEssential"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
<div *ngIf="showCategoryBarChart" class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-12">
        <h4 class="card-title mb-0">Monthly Spending by Category</h4>
      </div>
    </div>
    <div class="chart-wrapper">
      <canvas baseChart
      [datasets]="barChartDataCategory"
      [labels]="barChartLabelsCategory"
      [options]="barChartOptionsCategory"
      [legend]="barChartLegendCategory"
      [chartType]="barChartTypeCategory"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
