<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="card-title mb-0">All Purchases</h4>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="chart-wrapper">
      <canvas baseChart class="chart"
      [data]="doughnutChartDataLocal"
      [labels]="doughnutChartLabelsLocal"
      [legend]="chartLegend"
      [chartType]="chartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="card-title mb-0">Weekly Spend</h4>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="chart-wrapper">
      <canvas baseChart class="chart"
      [data]="doughnutChartDataCategory"
      [labels]="doughnutChartLabelsCategory"
      [legend]="chartLegend"
      [chartType]="chartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
