<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-7">
        <h4 class="card-title mb-0">All Purchases by Category</h4>
      </div>
      <div class="col-sm-5 hidden-sm-down">
        <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
            <select>
              <option value="Day">Day</option>
              <option value="Week">Week</option>
              <option value="Month">Month</option>
              <option value="Year">Year</option>
              <option value="All Time">All Time</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="chart-wrapper">
      <canvas baseChart class="chart"
      [data]="doughnutChartDataLocal"
      [labels]="doughnutChartLabelsLocal"
      [colors]="doughnutChartColors"
      [legend]="chartLegend"
      [chartType]="chartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
